<!DOCTYPE html>
<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
            <div class="meetup-details">
                <!-- Interpolation syntax -->
                <!-- Interpolation meaning - the insertion of something of a different nature into something else. -->
                <h3>{{ title }}</h3>
                <address>{{ location.name }} ({{ location.address }})</address>
            </div>
        </div>
        <div class="meetup-actions">
            <!-- Dynamic URLs in Templates using url tag -->
            <a href="{% url 'meetup-detail' slug %}" class="btn">More Details</a>
        </div>
    </article>
</li>
