<!DOCTYPE html>
{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}{{ meetup.title }}{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
    {{ meetup.title }}
{% endblock %}

{% block header_content %}
    {{ meetup.desciption }}
{% endblock %}

{% block body %}
    {% if meetup_found %}
        <article>
            <img id="main-image" src="{{ meetup.image.url }}" alt="{{ meetup.title }}">
            <section id="location">
                <h2>Meetup Location</h2>
                <address>This meetup takes place in <span>{{ meetup.location.name }}</span> ({{ meetup.location.address }}).</address>
            </section>
            <section id="details">
                <h2>What's This Meetup About?</h2>
                <p>{{ meetup.description }}</p>
                <footer>
                    <!-- mailto is a Uniform Resource Identifier scheme for email addresses. It is used to produce hyperlinks on websites that allow users to send an email to a specific address directly from an HTML document, without having to copy it and entering it into an email client. -->
                    <p>Need more details? Please <a href="mailto:{{ meetup.organizer_email }}">contact the organizer</a> (but don't spam us ;-)).</p>
                </footer>
            </section>
            <section id="registration">
                <h2>Join Us!</h2>
                <form action="{% url 'meetup-detail' meetup.slug %}" method="POST">
                    {% csrf_token %}
                    <ul>
                        <!-- NOTE: as_ul is a method of form object. -->
                        {{ form.as_ul }}
                    </ul>
                    <div id="registration-actions">
                        <button>Register</button>
                    </div>
                </form>
            </section>
        </article>
    {% else %}
        <p>No meetup found for this slug, sorry!</p>
    {% endif %}
{% endblock %}
